:root {
  --light-orange: #f7ac66;
  --mid-orange: #fd9738;
  --dark-orange: #df7817;
  --light-pink: #fff2fb;
  --pink-coral: #e76060;
  --light-white: #fefefe;
  --dark-gray: #292929;
  --almost-black: #1a1a1a;
}

body {
  font-family: Arial, Helvetica, sans-serif, serif;
  margin: 0;
}

/*
h1 {
  font-family: serif;
  font-style: oblique;
  color: var(--mid-orange);
}*/

.nav {
  background-color: var(--almost-black);
  top: 0;
  position: fixed;
  width: 100%;
  height: 61px;
}

.navbar-nav {
  display: flex;
}

.nav-list {
  font-family: "Geist", sans-serif;
  font-weight: 200;
  margin: 0;
  /*padding: 0.5rem;*/
  text-align: center;
  list-style: none;
}

.nav-item {
  display: inline-block;
  margin: 0 1rem;
  border-radius: 1rem;
}

.nav-link {
  font-size: 1rem;
  color: var(--light-white);
}

.nav-link:hover {
  color: var(--light-orange);
}

@media (max-width: 991.99px) {
  .navbar-collapse {
    background-color: var(--almost-black);
    width: 100vw;
    z-index: 1020;
  }
}

.h1 {
  text-align: center;
  margin: 1rem;
  color: var(--mid-orange);
}

.h2 {
  color: var(--light-orange);
  /*background-color: var(--dark-orange);*/
  font-family: "Geist", sans-serif;
  font-style: italic;
  font-size: 2.5rem;
  padding: 0.5rem;
  margin: 0;
  text-align: center;
  /*padding-top: 82px;*/
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.headshot {
  grid-area: headshot;

  box-sizing: border-box;
  border-radius: 15px;
  border-style: solid;
  border-width: 10px;
  border-color: var(--almost-black);
}

.introsec {
  grid-area: introsec;
  margin: auto;
  padding: 1.25rem;
  min-height: 250px;

  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  text-align: left;
}

.introsec p {
  margin-bottom: 0;
  max-width: 500px;
}

.abtme-div {
  background-color: var(--light-white);
  width: 100%;
}

.abtme-container {
  display: grid;
  max-width: 1200px;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
  grid-template-areas:
    "headshot"
    "introsec";
}

@media (min-width: 415px) {
  .abtme-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "headshot"
      "introsec";
  }
}

@media (min-width: 1000px) {
  .abtme-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "headshot introsec";
  }
}

.resume-div {
  background-color: var(--light-white);
}
.embed-resume {
  width: 100%;
  height: 590px;
  margin-left: auto;
  margin-right: auto;

  box-sizing: border-box;
  border-radius: 15px;
  border-style: solid;
  border-width: 10px;
  border-color: var(--almost-black);

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 415px) {
  .embed-resume {
    max-width: 450px;
  }
}

@media (min-width: 768px) {
  .embed-resume {
    max-width: 700px;
  }
}

@media (min-width: 1024px) {
  .embed-resume {
    max-width: 800px;
  }
}

.projects-div {
  background-color: var(--light-white);
}

.contact-div {
  background-color: var(--light-white);
}

.nav-gap {
  width: 100%;
  height: 61px;
  background-color: var(--light-white);
}

/*
.contactform {
}
*/
